body {
  background: url(/images/bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Lato" !important;
}

.login_panel {
  background-color: white;
  height: 100%;
  font-size: 18px;
  color: #575757;
}
