a:hover {
  text-decoration: none;
  color: #0061c3;
}

body {
  font-family: "Lato" !important;
  background-color: #ebf5fc;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: normal;
  text-align: right;
}

.room:hover {
  box-shadow: -3px 3px 0px #0061c3;
}

.active-room:hover {
  box-shadow: -3px 3px 0px #fd5f7d;
}

.room {
  border: 1px solid #0061c3;
  box-sizing: border-box;
  box-shadow: -3px 3px 0px rgba(0, 0, 0, 0.15);
  width: 280px;
  height: 280px;
  border-radius: 0px;
}

.room-body {
  overflow-y: auto;
}

.active-room {
  border: 1px solid #fd5f7d;
  box-sizing: border-box;
  box-shadow: -3px 3px 0px rgba(0, 0, 0, 0.15);
  width: 280px;
  height: 280px;
  border-radius: 0px;
}

.room-title {
  margin-left: 30px;
  height: 35px;
  min-width: 80px;
  max-width: 200px;
  background-color: white;
  border: solid 1px;
  border-top: none;
  border-color: #0061c3;
  color: #0061c3;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.room-title-active {
  margin-left: 30px;
  height: 35px;
  min-width: 80px;
  max-width: 200px;
  background-color: white;
  border: solid 1px;
  border-top: none;
  border-color: #fd5f7d;
  color: white;
  background: #fd5f7d;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.room-title-text {
  white-space: nowrap;
  overflow: hidden;
  padding: 10px;
  text-overflow: ellipsis;
}

.room-footer {
  background-color: white;
  border: none;
}

.btn-enter-in-room {
  height: 30px;
  width: 120px;
  background-color: #0061c3;
  border: none;
  color: white;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: normal;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  opacity: 0;
  border-radius: 2px;
}

.btn-enter-in-room-active {
  height: 30px;
  width: 120px;
  background-color: #fd5f7d;
  border: none;
  color: white;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: normal;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  opacity: 0;
  border-radius: 2px;
}

.room:hover .btn-enter-in-room {
  opacity: 1;
}

.active-room:hover .btn-enter-in-room-active {
  opacity: 1;
  color: white;
}

.user-room {
  margin-right: 10px;
  margin-bottom: 10px;
}

.blank-user-room {
  width: 50px;
  height: 50px;
  background: #c4c4c4;
  display: block;
}

.btn-enter-in-room:hover {
  color: white;
}

.user-in-call .rounded-circle,
.user-not-in-call .rounded-circle {
  margin: 0px;
  border: 2px solid #00ff00;
}

.user-in-call .rounded-circle {
  border-color: transparent;
}

.user-in-call {
  position: relative;
}

.user-in-call:before {
  content: "";
  background: transparent url("/images/headset.svg") no-repeat;
  position: absolute;
  left: -1px;
  right: -1px;
  top: 1px;
  bottom: 0;
}

.meet-frame {
  position: relative;
  padding-top: 47%;
}

.meet-frame iframe {
  position: absolute;
  top: 0;
  left: 0;
}
