.bottomdiv {
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  vertical-align: middle;
  font-size: 13px;
  font-weight: normal;
  text-align: center;
  width: 100%;
}

.heart {
  font-size: 18px;
  margin: 0 5px;
  color: #fd5f7d;
}
