<nav class="navbar navbar-custom">
  <a class="navbar-brand" href="javascript:void(0)"><img src="/images/logo_min.svg"></a>

  <div class="navbar-menu-right">
    <a href="/morpheus" title="Follow the white rabbit">
      <img src="/images/rabbit.svg" alt="White Rabbit" class="icon-rabbit">
    </a>
    <div class="dropdown">
      <a id="userName" href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userName">
        <button id="btnLogout" type="button" class="logoutBtn">Logout</button>
      </div>
    </div>
  </div>
</nav>
