<html>
	<header>
		<title>Matrix</title>
		<meta name="google-signin-client_id" content="<%= googleCredential.publicKey %>">
		<script src="https://apis.google.com/js/platform.js" async defer></script>
	</header>
	<body>
		Hello Matrix
		<div id="googleLoginButton" class="g-signin2" data-onsuccess="onSignIn"></div>

		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
    	<script src="index.js"></script>
	</body>
</html>
