<html>
	<header>
		<title>Matrix</title>
	</header>
	<body>
    <% var roomsDetail = roomService.getAll(); %>
		<% for(var i=0; i<roomsDetail.length; i++) {%>
      <div id="<%= roomsDetail[i].id%>" style="float:left;width: 300px;height: 300px; border: 1px solid">
        <button external-meet-url="<%= roomsDetail[i].externalMeetUrl%>" enter-room><%= roomsDetail[i].name%></button>
        <button id="<%= roomsDetail[i].id %>-close" close-room disabled>🔒</button>
      </div>
  <% } %>

<!--
	<div id="room-1" style="float:left;width: 300px;height: 300px; border: 1px solid">
      <button enter-room>Sala-1</button>
    </div>
    <div id="room-2" style="float:left;width: 300px;height: 300px; border: 1px solid">
      <button enter-room >Sala-2</button>
    </div>
    <div id="room-3" style="float:left;width: 300px;height: 300px; border: 1px solid">
      <button enter-room >Sala-3</button>
    </div>
    <div id="room-4" style="float:left;width: 300px;height: 300px; border: 1px solid">
      <button enter-room >Sala-4</button>
    </div>
    <a href="https://meet.google.com/scv-eoyg-tbu" target="_blank">TESTE</a>
-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
		<script src="https://code.jquery.com/jquery-latest.min.js"></script>
		<script src="profile.web.js"></script>
    	<script src="office.web.js"></script>
	</body>
</html>
