<html>
	<header>
		<title>Matrix</title>
	</header>
	<body>
		Hello Matrix Office
		<div id="googleLoginButton" class="g-signin2" data-onsuccess="onSignIn"></div>

		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script src="profile.js"></script>
    	<script src="office.js"></script>
	</body>
</html>
