<html>
	<header>
		<title>Matrix</title>
	</header>
	<body>
		
	<div id="room-1" style="float:left;width: 300px;height: 300px; border: 1px solid">
      <button enter-room>Sala-1</button>
    </div>
    <div id="room-2" style="float:left;width: 300px;height: 300px; border: 1px solid">
      <button enter-room >Sala-2</button>
    </div>
    <div id="room-3" style="float:left;width: 300px;height: 300px; border: 1px solid">
      <button enter-room >Sala-3</button>
    </div>
    <div id="room-4" style="float:left;width: 300px;height: 300px; border: 1px solid">
      <button enter-room >Sala-4</button>
    </div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
		<script src="https://code.jquery.com/jquery-latest.min.js"></script>
		<script src="profile.web.js"></script>
    	<script src="office.web.js"></script>
	</body>
</html>
