.auth_background {
  /* background: url(/images/bg.png) no-repeat ; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  font-family: "Lato" !important;
}

.auth_background h3 {
  font-size: 35px;
}

.auth_panel {
  width: 100%;
  background-color: #fff;
  height: 100%;
  font-size: 18px;
  color: #575757;
}

.auth_panel_dark {
  background-color: #424242;
  color: #fff;
}

.error {
  margin-top: 16px;
  text-align: center;
  font-size: 12px;
}

.logoTransform {
  width: 100%;
  opacity: 1;
  margin-top: 0px;
  animation: topBlur .7s linear;
}

@keyframes topBlur {
  from {
    opacity: 0;
    margin-top: -20px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

.containerLogin {
  display: flex;
  height: 100vh;
}
.containerForm {
  width: 640px;
  height: 100vh;
}
.containerBackground {
  width: 100%;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-image: url('/images/bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.customHr {
  width: 100%;
  max-width: 408px;
  border: 1px solid #39414A;
  opacity: .51;
  margin-bottom: 40px;
}

.form_link {
  width: 170px;
  margin: 10px auto 0 auto;
  font-size: 12px;
  color: #2196F3;
  padding: 0;
  background-color: transparent;
  border: none;
  text-decoration: solid;
  cursor: pointer;
  transition: all .4s ease-in-out;
}
.form_link:hover {
  color: #1F39D8;
  text-decoration: underline;
}
.form_login {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 310px;
  width: 100%;
  margin: auto;
  animation: fadeIn .2s linear;
}
.btn_login {
  width: 100%;
  border: 1px solid #D5D5D5;
  padding: 10px 25px;
  border-radius: 50px;
  background-color: transparent;
  font-weight: bold;
  color: #5D5C5C;
}
.btn_login:hover {
  border: 1px solid #2196F3;
}
.form_input {
  width: 100%;
  color: #5D5C5C;
  border: 1px solid #D5D5D5;
  padding: 10px 25px;
  border-radius: 50px;
  margin-bottom: 10px;
}
.form_select {
  width: 100%;
  background-color: #fff;
  color: #5D5C5C;
  border: 1px solid #D5D5D5;
  padding: 10px 25px;
  border-radius: 50px;
  margin-bottom: 10px;
  -webkit-appearance: none;
  transition: all .2s ease-in-out;
}
.select_div {
  position: relative;
  width: 100%;
}
.select_arrow {
  position: absolute;
  right: 20px;
  top: 13px;
  transform: rotate(180deg);
  transition: all 0.7s ease-in-out;
}
.form_select:focus + .select_arrow {
  transform: rotate(0deg);
}
.form_input:focus, .form_input:hover, .form_select:focus, .form_select:hover {
  border: 1px solid #2196F3;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    margin: 0 auto 0 -50px;
  }
  to {
    opacity: 1;
    margin: auto;
  }
}
