.GoogleButton {
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  padding: 1px;
  border-radius: 2px;
  background: white;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
}

.GoogleButton:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
}
.GoogleButtonDark {
  background-color: #4285f4;
}
.GoogleButtonDark:hover {
  background-color: #356abe;
}

.GoogleButtonLogo {
  padding: 8px;
  border-radius: 2px;
}

.GoogleButtonLogoDark {
  background: white;
}

.GoogleButtonText {
  display: block;
  flex: 1;
  margin: 0 16px;
  text-align: center;
  font-weight: 600;
  color: #757575;
}

.GoogleButtonTextDark {
  color: #fbffff;
}
