<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <%- include('favicons'); %>
    <title>#matrix - Morpheus 💊</title>
  </head>
  <body>
    <div id="root"></div>
    <input type="hidden" id="user" value="<%= userString %>" />
    <script src="https://meet.jit.si/external_api.js"></script>
    <script src="<%= assets.url('morpheus.js') %>"></script>
  </body>
</html>
